@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Lato:wght@400;700&family=Montserrat:wght@300;400;800&family=Oswald:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&family=Rubik:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roberto', sans-serif;
  line-height: 1.5;
  z-index: 1;
}

/* GENERAL */

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

html{
  scroll-behavior: smooth;
}

/*links have no text decoration*/
a{
  color: inherit;
  text-decoration: none;
}

a:visited{
  color: none;
}

li{
  list-style: none;
}

button{
  cursor: pointer;
  padding: 16px 40px;
  letter-spacing: 1px;
  transition: all 400ms ease;
}

.gold{
  color: hsl(36, 61%, 58%);
}

.white{
  color: #fff
}

.gray{
  color: #707070;
}

.container{
  padding: 36px 0;
}

.row{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.arrow{
  font-size: 20px;
}

body {
  position: relative;
}

/* NAV */
.background__image{
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: 100vh;
}

.background__image.background__image-offscreen{
  position: static
}

.background__image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: hsla(0, 0%, 5%, 0.5);
  mix-blend-mode: multiply;
  /* opacity: 0.5; */
  z-index: -1;
}

nav{
  display: flex;
  height: 150px;
}

.nav__container{
  display: flex;
  align-items: center;
}

.nav__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  z-index: 10;
}

/*STICKY NAV*/
/* nav and stickly class at the same time */
.nav__container.sticky {
  position: fixed;
  height: 6rem;
  width: 100%;
  background-color: black;
  z-index: 1000;
}


.nav__logo--title{
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
}

.nav__logo--subtitle{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2px;
}

.nav__links{
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav__link{
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  transition: 400ms ease;
}

.nav__button{
  font-size: 14px;
  font-weight: 500;
  background-color: #D5A153;
  border: none;
  border-radius: 4px;
}

/* HEADER */

.header__wrapper{
  height: calc(100vh - 150px);
  margin-right: 48;
  padding: 0px 16px;
}

.header__title{
  font-size: 110px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.3em;
  max-width: 680px;
  margin: 24px 0;
}

.header__description{
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  line-height: 1.75em;
  max-width: 680px;
  margin: 24px 0;
}

.header__button{
  font-size: 14px;
  font-weight: 500;
  background-color: #D5A153;
  border: none;
  border-radius: 4px;
  margin: 24px 0;
}

/* SERVICES */

/* #services{
  background-color:
} */

.section__description{
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
}

.section__title{
  font-size: 40px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 12px;
}

.section__subtitle{
  font-family: "Rubik";
  font-size: 16px;
  text-align: center;
  line-height: 2;
  margin-bottom: 42px;
}

.services__option-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.services__option{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 25px;
  text-align: center;
  background-color: white;
  box-shadow: 10px 0 60px hsla(0, 0%, 15%, 0.07);
  z-index: 200;
}

.services__option:hover .services__button{
  color: white;
  background-color: #D5A153;
}

.services__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color:#D5A153;
  font-size: 70px;
}

/* .flaticon-salon{
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.services__heading{
  font-size: 24px;
  font-weight: 700;
  margin: 15px 12px;
  transition: 400ms ease;
}

.services__heading:hover{
  color: #D5A153;
}

.services__subheading{
  margin-bottom: 28px;
  color: #707070;
  line-height: 2;
  font-size: 18px;
}

.services__button{
  width: 50px;
  height: 50px;
  padding: 15px;
  background-color: white;
  color: #D5A153;
  border: none;
  transition: 500ms ease;
  border-radius: 4px;
  box-shadow: 10px 0 60px hsla(0, 0%, 15%, .12);
}

/* PRICING */
.background__image2{
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.background__image2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 5%, 0.65);
  mix-blend-mode: multiply;
  /* opacity: 0.5; */
  z-index: -1;
}

.pricing__option-container{
  background-color: white;
  padding: 40px;
}

.pricing__service-list{
  display: flex;
  justify-content: space-around;
}

.pricing__button{
  height: 150px;
  min-width: 180px;
  background-color: white;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 91%);
}

.pricing__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 70px;
}

.pricing__button-text{
  font-weight: 700;
}

/* GALLARY */

/* .gallary__card{
  display: flex;
  justify-content: center;
  align-items: center;    
  padding: 0px 0px;
  margin: 25px 16px;
  overflow: hidden;
} */

.gallary__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallary__description{
  max-width: 560px;
  margin: auto 0px;
  padding: 0px 16px;
}

.gallary__title{
  text-align: left;
}

.gallary__subtitle{
  text-align: left;
}

.gallary__button{
  font-size: 14px;
  font-weight: 500;
  background-color: #D5A153;
  border: none;
  border-radius: 4px;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallary__arrow{ 
  margin-left: 6px;;
  display: flex;
  font-size: 16px;
}

.gallary__imgs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gallary__img--wrapper{
  display: flex;
  justify-content: center;
  align-items: center;    
  margin: 25px 16px;
  overflow: hidden;
}

.gallary__img{
  max-width: 256px;
  border-radius: 4px;
  transition: all 400ms ease;
}

.gallary__img--wrapper:hover .gallary__img{
  transform: scale(1.1);
}

/* APPOINTMENT */

.appointment__wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
}

/* .appointment__title{
  margin-top: 48px;
} */


.form__wrapper{
  background-color: #D5A153;
  padding: 50px;
  width: 100%;
}

.appointment__img1, .appointment__img2{
  height: 100%;
}

#appointment__form{
  display: flex;
  flex-direction: column;
}

.form__item{
  width: 48%;
  text-align: center;
}

.input{
  padding: 15px 40px 15px 12px;
  border-radius: 6px;
  font-size: 16px;
  border-color: gainsboro;
}

.form__line1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__line2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__line3{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.form__line4{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#form__category{
  padding: 15px 36px 15px 12px;
  margin-left: 12px;;
  width: 48%;
  border-radius: 4px;
  font-size: 16px;
  border-color: gainsboro;
}

.form__item--calendar{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.message__box{
  width: 100%;
}

textarea{
  resize: vertical;
}

#appointment__submit{
  background-color: #D5A153;
  border-color: white;
  border-radius: 4px;
  border-style: double;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease;
}

.appointment__submit--text{
  transition: all 400ms ease;
}

.appointment__arrow{
  margin-left: 6px;;
  display: flex;
  font-size: 16px;
}

/* FOOTER */

.background__image3{
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-color: hsl(0, 0%, 12%)
}

.footer__container{
  padding-top: 0;
}

.footer__top{
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  margin-bottom: 48px;
}

.footer__logo-wrapper, .footer__email{
  padding: 48px 56px;
  border-color:hsla(0, 0%, 100%, 0.1);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  display: flex;
}

.footer__logo-wrapper{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__email-box{
  width: 100%;
  padding: 8px 16px 8px 8px;
  display: flex;
  justify-content: space-between;
  border: 3px solid lightgrey;
  border-radius: 6px;
  transition: all 400ms ease;
  background-color: white;
}

.footer__email--custom{
  padding-right: 96px;
  font-size: large;
  width: 100%;
  border: none;
  outline: 0;
  transition: all 400ms ease;
}

#footer__email--button{
  padding: 16px 40px;
  background-color: #D5A153;
  border-color: white;
  border-radius: 4px;
  border-style: double;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease;
}

.footer__arrow{
  margin-left: 6px;;
  display: flex;
  font-size: 16px;
}

/*FOOTER LINKS*/

.footer__bottom{
  display: flex;
  justify-content: center;
}

.footer__quicklinks, .footer__services-wrapper, .footer__news, .footer__contact{
  margin: 0px 36px;
}

.footer__section-title{
  font-size: 18px;
  font-weight: 700;
}

.footer__links, .footer__services, .footer__news1{
  margin-top: 20px;;
}

.footer__link{
  font-size: 16px;
  font-family: "Rubik";
  margin-block-start: 8px;
  transition: 300ms ease;
}

.footer__news{
  display: flex;
  flex-direction: column;
}

.footer__news1, .footer__news2{
  display: flex;
  margin-bottom: 16px;
}

.footer__news1-title, .footer__calendar-icon{
  padding: 0px 24px;
  transition: all 300ms ease
}

.footer__link{
  margin-bottom: 16px;
}

/* HOVER EFFECTS */

.nav__link:hover {
  color: hsl(36, 61%, 58%);
}

.footer__link:hover{
  color: white;
}

.footer__news1-title:hover{
  color: hsl(36, 61%, 58%);
  cursor: pointer;
}

button:hover, #footer__email--button:hover{
  background-color: hsl(0, 0%, 12%);
}

#appointment__submit:hover{
  background-color: white;
}

#appointment__submit:hover .appointment__submit--text{
  color: black;
}
